.form-container {
    margin: 0rem auto;
    padding: 40px 0;

    h2 {
        text-align: center;
    }

    form {
        background-color: $tertiary-color;
    }

    button {
        width: 50%;
        border-radius: 1rem;
        border: none;
        padding: 1rem;
        color: $secondary-color;
        background-color: $fourth-color !important;
    }
}